@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #C6CCB2;
}

.card {
  background-color: #093824;
  color: #E5EAFA;
}

.custom-btn {
  background-color: #093824;
  color: #E5EAFA;
  border: none;
}

.custom-btn:hover {
  background-color: #E5EAFA;
  color:#093824;
  border: none;
}

.user-title {
  color: #093824;
}

.user-comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
